In [3]:
import pandas as pd

In [4]:
movies=pd.read_csv('movies.csv')
rating=pd.read_csv('ratings.csv')

In [9]:
movies.head()
rating.head()

   userId  movieId  rating  timestamp
0       1       17     4.0  944249077
1       1       25     1.0  944250228
2       1       29     2.0  943230976
3       1       30     5.0  944249077
4       1       32     5.0  943228858

In [17]:
print("Movies dataset:")
movies.info()

Movies dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87585 entries, 0 to 87584
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  87585 non-null  int64
 1   title    87585 non-null  object
 2   genres   87585 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.0+ MB

In [19]:

print("\nRatings dataset:")
rating.info()

Ratings dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32000204 entries, 0 to 32000203
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 976.6 MB

In [23]:
print("Number of movies:", movies['movieId'].nunique())
print("Number of users:", rating['userId'].nunique())
print("Number of ratings:", rating.shape[0])

Number of movies: 87585
Number of users: 200948
Number of ratings: 32000204

In [24]:
rating['rating'].value_counts().sort_index()

rating
0.5     525132
1.0     946675
1.5     531063
2.0    2028622
2.5    1685386
3.0    6054990
3.5    4290105
4.0    8367654
4.5    2974000
5.0    4596577
Name: count, dtype: int64

In [25]:
movie_avg_rating = rating.groupby('movieId')['rating'].mean()
movie_avg_rating.head()

movieId
1    3.897438
2    3.275758
3    3.139447
4    2.845331
5    3.059602
Name: rating, dtype: float64

In [26]:
movies_rating=pd.merge(rating,movies,on='movieId')

In [27]:
movies_rating.head()

,userId,movieId,rating,timestamp,title,genres
0,1,17,4.0,944249077,Sense and Sensibility (1995),Drama|Romance
1,1,25,1.0,944250228,Leaving Las Vegas (1995),Drama|Romance
2,1,29,2.0,943230976,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi
3,1,30,5.0,944249077,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Crime|Drama
4,1,32,5.0,943228858,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller

In [28]:
movies_rating.columns

Index(['userId', 'movieId', 'rating', 'timestamp', 'title', 'genres'], dtype='object')